.l-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;
}
.l-col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}
.l-col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}